http://localhost:3000/logs/1/entries/:id

<p>
	<strong>Date:</strong>
	<%= @entry.date %>
</p>

<p>
	<strong>Food:</strong>
	<%= @entry.food %>
</p>

<p>
	<strong>Mood:</strong>
	<%= @entry.mood %>
</p>


<p>
	<strong>Image:</strong>
	<%= image_tag @entry.avatar.url(:thumb) %>
</p>

