// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron_log {
    background-color: rgba(200, 200, 200, 0.5);
    margin-top: 25%;
    text-align: left;
}