// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron_logIndex {
    background-color: rgba(240, 240, 240, 0.6);
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-right: 20px 10px;
    border-radius: 6px;
}
.jumbotron_log {
    background-color: rgba(240, 240, 240, 0.6);
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 30px;
    border-radius: 6px;
}
p {
    display: inline-block;
}
h4 {
    text-align: left;
    font-color: black;
}
h5 {
    text-align: left;
}
input[type="submit"] {
    border-radius: 6px;
    background-color: white;
}
#new_log {
    margin: auto;
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;
}
#nutrition {
    text-align: center;
}
#contact {
    text-align: center;
}