// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron_login {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(240, 240, 240, 0.5);
    margin-top: 25%;
}
.jumbotron_signup {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(240, 240, 240, 0.5);
    margin-top: 25%;
}